root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,pom.xml}]
indent_size = 4

[*.{yaml,yml}]
indent_size = 2

[*.{json,conf,hocon}]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{sh,bash}]
indent_size = 2

[Makefile]
indent_style = tab